.file-upload-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 350px;
    background-color: #f4f4f4;

    .file-upload-btn-wrapper {
        display: flex;
        gap: 10px;

        button {
            border: none;
            border-radius: 5px;
            color: #fff;
            transition: background-color 0.3s ease;
            cursor: pointer;
            width: 36px;
            height: 36px;
            font-size: 20px;
        }

        .upload-btn {
            background-color: #e97018;

            &:hover {
                background-color: #a94b09;
            }

            &.loading {
                background-color: #999;
                cursor: not-allowed;
            }
        }

        .refresh-btn {
            background-color: #cacaca;

            &:hover {
                background-color: #9c9898;
            }
        }

        .music-btn {
            color: #000;

            &:hover {
                opacity: 0.8;
            }
        }
    }
}

.file-info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;

    .file-name {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .file-size {
        font-size: 12px;
        color: #666;
    }
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: transparent;
    border: none;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-btn:hover {
    background-color: #ddd;
}
